<app-header></app-header>

<router-outlet></router-outlet>

<!-- #region > Property Binding  -->
<!-- <p [id] ="paragraphId"[ngClass]="{'text-primary display-1': true, 'text-danger': false}" > Hello world ! </p> -->
<!-- #endregion -->

<!-- #region > Event Binding -->
<!-- <p>{{text}}</p>
<button class = "btn btn-primary" type="button" (click)="onClickButton()">clique ici grosse merde</button> -->
<!-- #endregion -->

<!-- #region Two way binding -->
<!-- <p>{{text}}</p>
<input type="text" name="text" class="form-control" placeholder="Ecrivez ici" [(ngModel)]="text"> -->

<!-- // placeholder sert à mettre un texte dans le champ de saisie
// form-control sert à mettre le champ de saisie en forme de champ de saisie
// [{ngModel}] permet de lier le champ de saisie à la variable text -->
<!-- #endregion -->

<!-- #region > Conditions dans le DOm -->

<!-- #region DOM Conditions  -->

<!-- <button class="btn btn-primary" type="button" (click)="onClickButton()">
  Toggle</button>

<div *ngIf="displayText">
  <h1>Tu me vois</h1>
  <p>{{ text }}</p>
</div> -->

<!-- // Toggle sert à changer l'état d'un élément -->
<!-- #endregion -->

<!-- #region DOM Boucle for -->
<!-- <ul>
  <li *ngFor="let car of cars">
    <p [id]="car.id">{{ car.brand }} {{ car.model }} - {{ car.color }}</p>
  </li>
</ul> -->
<!-- #endregion -->
